<h1>Live Feedback</h1>
<% @posts.each do |post| %>
    <h2> <%= link_to post.title,post %>  </h2>
    <%= form_for post do |f| %>
        <p>
          <%= f.submit "Vote" %>
        </p>
    <% end %>
    <%= post.num_likes %>
    <p> <%=post.description %> </p>
        <% if post.user_id %>
         <%= post.user_id %>
    <% end %>
        <%= post.id %>

    <p> <%= link_to "Edit" , edit_post_path(post) %>
      <%= link_to "Delete" , post ,:confirm => "Are you sure" ,:method => :delete%></p>
<% end %>
<% if current_user%>

<p><%= link_to "Click to add a new Post", new_post_path %></p>
<%end%>

<% if current_user %>
    <% if current_user.is_admin == 1 %>
        <a href="/users/show" >Show Users</a>
    <%end%>
<%end%>

