<% if current_user%>

    <p><%= link_to "Click to add a new Post", new_post_path %></p>
    <p><%= link_to "Click to add a new Tag", new_tag_path %></p>
<%end%>


<% if current_user %>
    <% if current_user.is_admin == 1 %>
        <a href="/users/show" >Show Users</a>
    <%end%>
<%end%>

<hr>

<table border="1" align ="center" cellpadding ="25">
  <tr>
    <th><h3>Posts          </h3></th>
    <th><h3>Category       </h3></th>
    <th><h3>Votes          </h3></th>
    <th><h3>Description    </h3></th>
    <th><h3>Users          </h3></th>
    <th><h3>Post Id        </h3></th>
    <th><h3>Edit           </h3></th>
    <th><h3>Delete         </h3></th>
    </tr>




<% @posts.each do |post| %>
      <tr>
    <td> <h4> <%= link_to post.title,post %>  </h4></td>
    <td> <h4> <%= post.category_name%>  </h4></td>

    <td> <h4> <%=  post.num_likes %>   </h4></td>
    <td> <h4> <%=post.description %> </h4></td>
        <% if post.user_id %>
    <td> <h4>  <%= post.user_id %>    </h4></td>
    <% end %>
    <td> <h4>   <%= post.id %>  </h4></td>

    <h4><td> <%= link_to "Edit" , edit_post_path(post) %>  </h4></td>
    <h4><td>  <%= link_to "Delete" , post ,:confirm => "Are you sure" ,:method => :delete%>   </h4></td>
          </tr>
<% end %>

      </table>

