<h1>Listing replies</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Id</th>
    <th>Description</th>
    <th>Num likes</th>
    <th>Temp r</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @replies.each do |reply| %>
  <tr>
    <td><%= reply.post_id %></td>
    <td><%= reply.id %></td>
    <td><%= reply.description %></td>
    <td><%= reply.num_likes %></td>
    <td><%= reply.temp_r %></td>
    <td><%= link_to 'Show', reply %></td>
    <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
    <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reply', new_reply_path %>
